<%= form_for @maze, :html => { :class => "form-horizontal maze" } do |f| %>

    <% if @maze.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@maze.errors.count, "error") %> prohibited this maze from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @maze.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :width, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :width, :class => 'form-control' %>
    </div>
    <%= error_span(@maze[:width]) %>
  </div>
  <div class="control-group">
    <%= f.label :height, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :height, :class => 'form-control' %>
    </div>
    <%= error_span(@maze[:height]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            mazes_path, :class => 'btn btn-default' %>

<% end %>
