<%= form_for(@maze) do |f| %>
  <% if @maze.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maze.errors.count, "error") %> prohibited this maze from being saved:</h2>

      <ul>
      <% @maze.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
