<%- model_class = Maze -%>
<div class="page-header">
  <b><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></b>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:width) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:xexit) %></th>
      <th><%= model_class.human_attribute_name(:yexit) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @mazes.each do |maze| %>
      <tr>
        <td><%= link_to maze.id, maze_walls_path(maze) %></td>
        <td><%= maze.width %></td>
        <td><%= maze.height %></td>
        <td><%= maze.xexit %></td>
        <td><%= maze.yexit %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      maze_walls_path(maze), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      maze_path(maze),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_maze_path,
            :class => 'btn btn-primary' %>
