<p id="notice"><%= notice %></p>

<b>Walls for maze id <%= @maze.id %> Width: <%= @maze.width %> Height: <%= @maze.height %>
    Exit at <%= @maze.xexit%>,<%= @maze.yexit %></b>
<p>
    <img src="<%= maze_walls_path(@maze, :format => :svg) %>"/>
</p>

<%= link_to t('.back', :default => t("helpers.links.back")),
            mazes_path, :class => 'btn btn-default' %>
