<p id="notice"><%= notice %></p>

<b>Walls for maze id <%= @maze.id %> Height: <%= @maze.height %> Width: <%= @maze.width %></b>
<p>
    <img src="<%= maze_walls_path(@maze, :format => :svg) %>"/>
</p>

<%= link_to t('.back', :default => t("helpers.links.back")),
            mazes_path, :class => 'btn btn-default' %>
