<p id="notice"><%= notice %></p>

<h1>Listing Maze Walls for id <%= @maze.id %> Height: <%= @maze.height %> Width: <%= @maze.width %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Xposition</th>
      <th>Yposition</th>
      <th>Right</th>
      <th>Down</th>
    </tr>
  </thead>

  <tbody>
    <% @maze_walls.each do |maze_wall| %>
      <tr>
        <td><%= maze_wall.xposition %></td>
        <td><%= maze_wall.yposition %></td>
        <td><%= maze_wall.right %></td>
        <td><%= maze_wall.down %></td>
      </tr>
    <% end %>
  </tbody>
</table>