<p id="notice"><%= notice %></p>

<h1>Listing Maze Walls</h1>

<table>
  <thead>
    <tr>
      <th>Maze</th>
      <th>Xposition</th>
      <th>Yposition</th>
      <th>Right</th>
      <th>Down</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maze_walls.each do |maze_wall| %>
      <tr>
        <td><%= maze_wall.maze_id %></td>
        <td><%= maze_wall.xposition %></td>
        <td><%= maze_wall.yposition %></td>
        <td><%= maze_wall.right %></td>
        <td><%= maze_wall.down %></td>
        <td><%= link_to 'Show', maze_wall %></td>
        <td><%= link_to 'Edit', edit_maze_wall_path(maze_wall) %></td>
        <td><%= link_to 'Destroy', maze_wall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maze wall', new_maze_wall_path %>
