<p id="notice"><%= notice %></p>

<p>
  <strong>Maze:</strong>
  <%= @maze_wall.maze_id %>
</p>

<p>
  <strong>Xposition:</strong>
  <%= @maze_wall.xposition %>
</p>

<p>
  <strong>Yposition:</strong>
  <%= @maze_wall.yposition %>
</p>

<p>
  <strong>Right:</strong>
  <%= @maze_wall.right %>
</p>

<p>
  <strong>Down:</strong>
  <%= @maze_wall.down %>
</p>

<%= link_to 'Edit', edit_maze_wall_path(@maze_wall) %> |
<%= link_to 'Back', maze_walls_path %>
